# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml

# Django stuff:
**/*.log
db.sqlite3

# Project unit tests
heating/tests

# Environment file
docker.env
