# Development Python requirements

-r requirements.txt

django-debug-toolbar
django-dynamic-fixture
flake8
ipython
pip-tools
pyinotify
pylama
pylama-pylint
pylint-django
pytest
pytest-catchlog
pytest-cov
pytest-django
pytest-mock
redislite
