# Development Python requirements

-r requirements.txt

django-debug-toolbar
django-dynamic-fixture
flake8
ipython
pip-tools
pyinotify
pylint
pylint-django
pytest
pytest-catchlog
pytest-django
pytest-mock
pytest-pylint
redislite
