# Production Python requirements
# Must be compiled by pip-compile

django-configurations
dj-database-url
dj-email-url
Django<1.11
djangorestframework
gunicorn
pilotwire-controller
psycopg2
pytz
redis
setproctitle
