# Production Python requirements
# Must be compiled by pip-compile

celery[redis]
django-configurations
dj-database-url
dj-email-url
django-filter
Django<2.0
djangorestframework
gunicorn
pilotwire-controller
psycopg2
pytz
redis
setproctitle
