# Production Python requirements
# Must be compiled by pip-compile

django-configurations
dj-database-url
dj-email-url
Django<1.11
djangorestframework
pytz

-e git+https://github.com/cailloumajor/pilotwire-controller.git#egg=pilotwire_controller
